informe/informe.log
informe/informe.pdf
informe/informe.aux
informe/informe.toc

# Ejecutables
cov
psa_test
knn_test
test_image_handler
metodoPotencia
main
main_test

# Tests
pruebas/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
